{% extends 'base.html' %}

{% block title %}
Inscripciones
{% endblock %}

{% block page_title %}
{{ titulo }}
{% endblock %}

{% block content %}

<div class="card shadow">

    <div class="card-header bg-info text-white">

        <h4 class="mb-0">

            <i class="bi bi-pencil-square"></i>

            {{ titulo }}

        </h4>

    </div>

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            {% if form.errors %}

                <div class="alert alert-danger">

                    {{ form.errors }}

                </div>

            {% endif %}

            <div class="row">

                {% for field in form %}

                <div class="col-md-6 mb-3">

                    <label class="form-label fw-bold">

                        {{ field.label }}

                    </label>

                    {{ field }}

                </div>

                {% endfor %}

            </div>

            <hr>

            <button class="btn btn-info text-white">

                <i class="bi bi-check-circle-fill"></i>

                Guardar

            </button>

            <a href="{% url 'inscripcion_list' %}" class="btn btn-secondary">

                Cancelar

            </a>

        </form>

    </div>

</div>

{% endblock %}